.hidden_menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0;
    z-index: 1000;
    display: flex;                      /* 가로 정렬 설정 */
    flex-direction: column;             /* 아이템을 세로로 배치 */
    justify-content: center;            /* 세로 정렬 */
    align-items: center;                /* 가로 정렬 */
}
.hidden_menu_closed {
    width: 0;
    height: 0;
    overflow: hidden;                   /* 내부 콘텐츠도 숨김 */
    opacity: 0;                         /* 완전히 투명하게 설정 */
    pointer-events: none;               /* 클릭이나 상호작용 차단 */
}
.hidden_menu_bnt {
    position: absolute;
    top: 43vh;
    left: -28%;
    z-index: 1000;
    transition: opacity 1.2s ease; /* 애니메이션 효과 */
}
.hidden_menu_bnt_closed {
    width: 0;
    height: 0;
    overflow: hidden;                   /* 내부 콘텐츠도 숨김 */
    opacity: 0;                         /* 완전히 투명하게 설정 */
    pointer-events: none;               /* 클릭이나 상호작용 차단 */
}

.cctv_img {
    width: 100%;
    height: 40%;
    background-color: black;
    display: flex;
    justify-content: center;            /* 수평 가운데 정렬 */
    align-items: center;                /* 수직 가운데 정렬 */
}
.cctvimage {
    width: 100%;
    object-fit: contain;
}

.cctv_list {
    width: 100%;
    height: 60%;
    border: 1px solid blue;
}
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.image-container {
    margin-right: 10px;
}
.text-container p {
    margin: 5px 0;
}
